#profile_sex{
    display: block;
}
.cards{
    height: calc(100vh - 200px);
    width: 100vw;
}
.row{
    float: left;
    height: 100px;
    width: 50%;
}

#content{
    width: 100%;
    height: 300px;
}

.box{
    float: right;
    height: 100px;
    width: 100px;
}
#form{
    padding-left: 50px;
}
#contentimg{
    height:100%;
    width: 200px;
    padding-bottom: 10px;
}
.card-body{
    background-color: aquamarine;
    height: 96%;
    width: 96%;
}